@import '../../assets/styles/Vars.scss';

.singleProduct {
  background-color: white;
  color: black;
  padding: 20px 0;
}
.singleProduct__gallery {

}

.singleProduct__gallery--heading {
  .tags {
    color: $grey;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    font-style: italic;
    margin: 0 auto 10px;
  }
  .heading {
    margin: 0 auto 20px;
  }
  .prices {
    font-weight: 600;
    color: $black-medium;
    font-size: 20px;
    .discount {
      @extend .prices ;
      text-decoration: line-through;
      color: $grey;
    }
  }
}

.singleProduct__gallery--slide {
  padding: 20px 0;
}