@import '../../assets/styles/Vars.scss';


.carouselProduct {
  padding: 50px 0;
  background-color: $black-medium;
}
.carouselProduct__head {
  .heading{
    @include headings('../../assets/static/divider.png');
  }
}
.carouselProduct__slide {
  .swiper-button-next, .swiper-button-prev {
    color: white;
    &:after {
      font-size: 30px;
    }
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
}
