@import '../../assets/styles/Vars.scss';


.carouselProduct {
  padding: 50px 0;
  background-color: $black-medium;
}
.carouselProduct__head {
  .heading{
    @include headings('../../assets/static/divider.png');
  }
}
.carouselProduct__slide {
  .swiper-button-next, .swiper-button-prev {
    color: white;
    &:after {
      font-size: 30px;
    }
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
}


.carouselProduct__slide--item {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  &:hover {
    .img-product {
      img.image-front {
        opacity: 0;
      }
      img.image-back {
        opacity: 1;
      }
    }
    .content-product {
      .buttons {
        max-height: 50px;
      }
    }
  }
  .img-product {
    position: relative;
    max-width: 100%;
    .flag {
      position: absolute;
      z-index: 3;
      background: black;
      top: 50px;
      left: 10px;
      transform: translate(-40%) rotate(270deg);
      padding: 2px 7px;
      text-transform: uppercase;
      letter-spacing: 0.09em;
      font-size: 12px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      &.image-back {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }
  .content-product {
    background-color: black;
    padding: 20px 0 0;
    text-align: center;
    .heading {
      font-size: 30px;
      margin: 0 0 10px;
    }
    .price {
      margin: 0 0 20px;
    }
    .buttons {
      display: flex;
      justify-content: stretch;
      overflow: hidden;
      // max-height: 0;
      transition: .3s ease-out;
      .cart, .view-more {
        flex-basis: 50%;
        border: 0;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        background-color: white;
        color: $black-medium;
        transition: .5s ease-out;
        padding: 15px 0;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}


@media only screen and (min-width:768px){
  .carouselProduct__slide--item {
    margin: 0 0; 
    .content-product {
      .buttons {
        max-height: 0;
        transition: .3s ease-out;
      }
    }
  }
  
}