@import '../../assets/styles/Vars.scss';
@import './_hamburguer.scss';
@import '../Menu/_menu.scss';
@import '../Menu/_search.scss';

.header {
    background-color: #000;
    color: #fff;
    a {
        color: white;
        text-decoration: none;
    }
}
.header__topBarLeft {
    div[class*="col"] {
        padding: 0;
    }
}
.header__topBarLeft--social {
    display: flex;
    padding: 0;
    list-style: none;
    background-color: $black-medium;
    .social-item{
        width: calc(100% / 3);
        text-align: center;
        a {
            display: block;
            padding: 10px 0;
            &:hover {
                background-color: white;
                i[class*="icon"]{
                    color: black;
                }
            }
        }
        .content {
            display: none;
        }
    }
}
// .header__topBarRight {
    
// }
.header__topBarRight--social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .left-icons {
        display: flex;
        justify-content: center;
        flex-basis: calc(5 * 100% / 15);
        .hamburger {
            flex-basis: 50%;
            background-color: transparent;
            border: 0;
            z-index: 800;
            .hamburger-box, .hamburger-inner {
                margin: 0;
            }
        }
        .user-link {
            flex-basis: 50%;
            text-align: center;
            background: transparent;
            border: 0;
            color: white;
        }
    }
    .logo {
        flex-grow: 1;
        text-align: center;
        .main-logo{
            max-width: 80px;
        }
        .secondary-logo {
            display: none;
        }
    }
    .right-icons {
        @extend .left-icons ;
        .search-link, .cart-link {
            @extend .user-link ;
        }
        .cart-link {
            .icon-cart{
                margin-right: 5px;
            }
        }
        .menu {
            @extend %menu ;
        }
        .search {
            @extend %search ;
        }
    }
}


// Call to action

.callToAction {
    background-color: $black-medium;
    padding: 10px 0;
}
.callToAction__message {
    color: white;
    text-align: center;
    font-size: 12px;
}