@import '../../assets/styles/Vars.scss';

.checkout {
  padding: 30px 0;
}
.checkout__forms {
}

.checkout__form--data {
  .button-form {
    width: 100%;
    background: $grey;
    border: 0;
    padding: 10px;
    text-align: left;
    color: white;
    text-transform: uppercase;
    font-family: $bebas;
    font-size: 30px;
    letter-spacing: 0.1em;
  }
  .content {
    background: white;
    color: black;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    transition: max-height 0.2s ease-out;
    &.unlogged {
      max-height: 0;
      overflow: hidden;
    }
    form {
      width: 100%;
    }
    p {
      text-transform: 18px;
      line-height: 1.5em;
      padding: 20px 0 0;
    }
    label {
      font-family: $bebas;
      font-size: 18px;
      padding: 20px 0 10px;
      display: block;
    }
    input:not([type='submit']):not([type="checkbox"]) {
      width: 100%;
      padding: 10px 5px;
    }
    select {
      width: 100%;
    }
    .policy {
      margin: 10px 0 0;
      display: flex;
      align-items: center;
      label {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
      }
      input[type="checkbox"] {
        margin: 0 5px 0 0;
        display: inline-block;
      }
    }
    input[type="submit"], .next-step {
      @include button-base(cta);
      display: block;
      max-width: 200px;
      margin: 20px auto 30px;
      font-size: 16px;
      text-align: center;
    }
  }
}

.checkout__summary {
  background-color: white;
  margin: 30px auto;
  color: black;
  .top-summary {
    background-color: $grey;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .heading {
      font-size: 30px;
      color: white;
    }
    .edit-btn {
      text-decoration: underline;
      border: 0;
      color: $grey-light;
    }
  }
  .summary {
    padding: 10px;
    margin: 0;
    list-style: none;
  }
  .product-list {
    padding: 0 10px 10px;
    margin: 0;
    list-style: none;
  }
}

@media only screen and (min-width:768px){
  .checkout__summary {
    background-color: white;
    margin: 0 auto;
    color: black;
  }
}