@import "./fonts/Fonts.scss";
@import "./fonts/Icons.scss";
@import './Vars.scss';
@import "./reset/Reset.scss";
@import "~bootstrap/scss/bootstrap-grid";

* {
  font-family: $roboto;
  margin: 0;
  font-size: 16px;
  line-height: 1.2em;
  outline: 0;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  position: relative;
  background-color: black;
  color: white;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    transition: .2s ease-out;
  }
  &.overlay {
    overflow: hidden;
    &:after {
      left: 0%;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $bebas;
  font-weight: 500;
  line-height: 1em;
}

a, i[class*="icon"] {
  transition: .5s ease-out;
}



@media (min-width: 768px) and (max-width: 979px){
  .container {
      max-width: 740px;
  }
}
