@mixin fadeInMenu {
    animation: .3s coverKeyframes ease;
}

@keyframes menuKeyFrames {
    from {
        left: 100%;
        width: 0;
        opacity: 0;
    }
    to {
        left: 20%;
        witdh: 80%;
        opacity: 1;
    }
}
